
.p_blue:focus{
    color: blue;
}
.div_orange:hover{
    color: orange;
}

.format_block{
width: 300px; /*устанавливает ширину элемента*/ 
margin: auto; /*центрирование блочного элемента по горизонтали*/
margin-top: 3em; /*устанавливает верхний отступ элемента. Значение 3em означает, что отступ будет равен трём размерам текущего шрифта элемента*/
padding: 1em; /*устанавливает внутренние отступы элемента. Значение 1em означает, что внутренний отступ будет равен размеру текущего шрифта элемента*/
border: 1px solid black; /*устанавливает стиль, ширину и цвет границы элемента. В данном случае, граница будет черной, сплошной и иметь ширину 1 пиксель*/
cursor: pointer; /*изменяет вид курсора, когда он находится над элементом. Значение pointer означает, что курсор будет выглядеть как рука с указательным пальцем, что обычно используется для ссылок*/
}