



.format_block {
    width: 300px; /*устанавливает ширину элемента равной 300 пикселям.*/
    margin: auto; /*автоматически выравнивает элемент по центру по горизонтали. Оно устанавливает верхний и нижний отступы в 0, а левый и правый отступы в автоматический режим*/
    margin-top: 3em; /*устанавливает верхний отступ элемента равным 3em. Значение em является относительной единицей измерения, которая зависит от размера шрифта элемента.*/
    padding: 1em; /*устанавливает внутренний отступ (пространство между границей и содержимым элемента) равным 1em.*/ 
    border: 1px solid black; /*устанавливает границу элемента. Граница будет иметь ширину 1 пиксель, стиль solid (сплошной), и цвет black (черный)*/
    cursor: pointer; /*свойство изменяет вид курсора на pointer (указатель), когда пользователь наводит на элемент.*/
    contenteditable="true" 
}

p:focus { /*:focus - это псевдокласс - абзац <p> получает фокус, цвет текста становится синим*/
    color: blue;    
}

div:hover { /*:hover - это псевдокласс, который выбирает все элементы <div> и когда на него наведен курсор - текст элемента становится оранжевым*/
color: orange;
}