p {
    margin: 0;
    /* Устанавливает внешние отступы для всех элементов <p> в 0 */
    padding: 0;
    /* Устанавливает внутренние отступы для всех элементов <p> в 0 */
}

.wrap {
    position: relative;
    /* Устанавливает позиционирование элемента .wrap относительно его нормального положения */
    width: 90%;
    /* Устанавливает ширину элемента .wrap в 90% от ширины его родительского элемента */
    height: 300px;
    /* Устанавливает высоту элемента .wrap в 300 пикселей */
    margin: 0 auto;
    /* Устанавливает верхний и нижний внешние отступы в 0, а левый и правый - автоматические, что центрирует элемент .wrap по горизонтали */
    min-width: 500px;
    /* Устанавливает минимальную ширину элемента .wrap в 500 пикселей */
    background-color: black;
    /* Устанавливает черный цвет фона для элемента .wrap */
    font-family: Arial, sans-serif;
    /* Устанавливает шрифт Arial для текста в элементе .wrap, если Arial недоступен, будет использоваться любой шрифт без засечек (sans-serif) */
}

.content {
    position: absolute;
    /* Устанавливает абсолютное позиционирование элемента .content относительно ближайшего родительского элемента с позиционированием, отличным от static (в данном случае .wrap) */
    width: 100%;
    /* Устанавливает ширину элемента .content в 100% от ширины его родительского элемента */
    display: inline-block;
    /* Устанавливает тип отображения элемента .content как inline-block, что позволяет задавать ему ширину и высоту */
    margin: 1% auto;
    /* Устанавливает верхний и нижний внешние отступы в 1% от ширины родительского элемента, а левый и правый - автоматические */
}

.h1 {
    text-transform: uppercase;
    /* Преобразует текст элемента .h1 в верхний регистр */
    color: steelblue;
    /* Устанавливает цвет текста элемента .h1 в стально-синий */
    /*text-align: center;*/
    font-size: 230%;
    /* Устанавливает размер шрифта элемента .h1 в 230% от размера родительского шрифта */
}

.h10range {
    color: chocolate;
    /* Устанавливает цвет текста элемента .h10range в шоколадный */
}

.row { /*эти стили вроде бы не нужны*/
    display: block;
    /* Устанавливает тип отображения элемента .row как block, что позволяет ему занимать всю доступную ширину и автоматически начинать новую строку */
    width: 100%;
    /* Устанавливает ширину элемента .row в 100% от ширины его родительского элемента */
}

.card {
    display: inline-block;
    /* Устанавливает тип отображения элемента .card как inline-block, что позволяет задавать ему ширину и высоту */
    box-sizing: border-box;
    /* Устанавливает модель расчета размеров элемента .card так, чтобы паддинги и границы включались в общую ширину и высоту */
    width: 49%;
    /* Устанавливает ширину элемента .card в 49% от ширины его родительского элемента */
    min-width: 475px;
    /* !!!хорошая штука!!! Устанавливает минимальную ширину элемента .card в 475 пикселей */
    max-width: 475px;
    /* !!!хорошая штука!!! Устанавливает максимальную ширину элемента .card в 475 пикселей */
    padding: 0 10px;
    /* Устанавливает верхний и нижний внутренние отступы в 0, а левый и правый - в 10 пикселей */
}

.avatar {
    width: 80px;
    /* Устанавливает ширину элемента .avatar в 80 пикселей */
    height: 80px;
    /* Устанавливает высоту элемента .avatar в 80 пикселей */
    float: left;
    /* Устанавливает обтекание элемента .avatar с левой стороны, что позволяет другим элементам располагаться справа от него */
}

.comment::before {
    content: "";
    /* Устанавливает содержимое псевдоэлемента ::before для элемента .comment в пустую строку */
    display: block;
    /* Устанавливает тип отображения псевдоэлемента ::before как block, что позволяет ему занимать всю доступную ширину и автоматически начинать новую строку */
    width: 0;
    /* Устанавливает ширину псевдоэлемента ::before в 0 */
    height: 0;
    /* Устанавливает высоту псевдоэлемента ::before в 0 */
    border-top: 10px solid transparent;
    /* Устанавливает верхнюю границу псевдоэлемента ::before в 10 пикселей, прозрачную и сплошную */
    border-bottom: 10px solid transparent;
    /* Устанавливает нижнюю границу псевдоэлемента ::before в 10 пикселей, прозрачную и сплошную */
    border-right: 10px solid white;
    /* Устанавливает правую границу псевдоэлемента ::before в 10 пикселей, белую и сплошную */
    position: absolute;
    /* Устанавливает абсолютное позиционирование псевдоэлемента ::before относительно ближайшего родительского элемента с позиционированием, отличным от static (в данном случае .comment) */
    top: 30px;
    /* Устанавливает верхнюю координату псевдоэлемента ::before в 30 пикселей от верхнего края родительского элемента */
    left: -9px;
    /* Устанавливает левую координату псевдоэлемента ::before в -10 пикселей от левого края родительского элемента */
}

.comment {
    position: relative;
    /* Устанавливает позиционирование элемента .comment относительно его нормального положения */
    float: right;
    /* Устанавливает обтекание элемента .comment с правой стороны, что позволяет другим элементам располагаться слева от него */
    width: 330px;
    /* Устанавливает ширину элемента .comment в 330 пикселей */
    min-height: 60px;
    /* Устанавливает минимальную высоту элемента .comment в 60 пикселей */
    background-color: white;
    /* Устанавливает белый цвет фона для элемента .comment */
    color: gray;
    /* Устанавливает серый цвет текста для элемента .comment */
    padding: 10px;
    /* Устанавливает внутренние отступы элемента .comment в 10 пикселей */
    font-size: 13px;
    /* Устанавливает размер шрифта*/
}

.info {
    height: 20px;
    /* Устанавливает высоту элемента .info в 20 пикселей */
    border-bottom: dotted #8a8a8a;
    /* Устанавливает нижнюю границу элемента .info в точечную линию серого цвета */
}

.name::before {
    content: "-";
    /* Устанавливает содержимое псевдоэлемента ::before для элемента .name в '-' */
    width: 10px;
    /* Устанавливает ширину псевдоэлемента ::before в 10 пикселей */
    display: inline-block;
    /* Устанавливает тип отображения псевдоэлемента ::before как inline-block, что позволяет задавать ему ширину и высоту */
}

.align {
    text-align: center;
    /* Устанавливает выравнивание текста по центру для элемента .align */
    position: absolute;
    /* Устанавливает абсолютное позиционирование элемента .align относительно ближайшего родительского элемента с позиционированием, отличным от static (в данном случае .content) */
    top: 50%;
    /* Устанавливает верхнюю координату элемента .align в 50% от высоты родительского элемента */
    left: 50%;
    /* Устанавливает левую координату элемента .align в 50% от ширины родительского элемента */
    transform: translate(-50%, -50%);
    /* Смещает элемент .align на 50% влево и вверх от его текущего положения, что позволяет центрировать его относительно родительского элемента */
}

.name {
    display: block;
    /* Устанавливает тип отображения элемента .name как block, что позволяет ему занимать всю доступную ширину и автоматически начинать новую строку */
    font-style: italic;
    /* Устанавливает курсивное начертание текста для элемента .name */
    color: #899dc2;
    /* Устанавливает цвет текста элемента .name в светло-синий */
    float: left;
    /* Устанавливает обтекание элемента .name с левой стороны, что позволяет другим элементам располагаться справа от него */
    font-weight: bold;
    /* Устанавливает жирное начертание текста для элемента .name */
}

.type {
    display: block;
    /* Устанавливает тип отображения элемента .type как block, что позволяет ему занимать всю доступную ширину и автоматически начинать новую строку */
    font-style: italic;
    /* Устанавливает курсивное начертание текста для элемента .type */
    color: #899dc2;
    /* Устанавливает цвет текста элемента .type в светло-синий */
    float: right;
    /* Устанавливает обтекание элемента .type с правой стороны, что позволяет другим элементам располагаться слева от него */
    font-weight: bold;
    /* Устанавливает жирное начертание текста для элемента .type */
}

.text {
    margin-top: 5px;
    /* Устанавливает верхний внешний отступ элемента .text в 5 пикселей */
}

@media (max-width: 1024px) {
    .comment::before {
        border: none;
        /* Убирает границы псевдоэлемента ::before для элемента .comment при ширине экрана меньше или равной 1024 пикселей */
    }
}