body {
    font-family: 'Open Sans', sans-serif;
    /*шрифт ‘Open Sans’ для всего тела*/
}

body>div>div:first-child {
    /* это селектор выбирает первый дочерний(first-child) div элемент, который является непосредственным потомком(>) другого div элемента, который в свою очередь является непосредственным потомком (>) body. Здесь > означает "непосредственный потомок", а :first-child означает "первый дочерний элемент"*/
    display: flex;
    /* это свойство устанавливает режим отображения элемента на flex. Flexbox (гибкий контейнер) представляет собой модель макета, которая позволяет упростить расположение элементов внутри контейнера. В режиме flex элементы могут быть автоматически упорядочены, выровнены или распределены внутри контейнера, даже когда размеры элементов неизвестны или динамически меняются.*/
    justify-content: space-between; /*это свойство определяет, как браузер распределяет пространство между flex элементами вдоль главной оси контейнера. Значение space-between означает, что flex элементы будут равномерно распределены вдоль линии с равным пространством между ними. Первый элемент будет на одном конце линии, последний элемент - на другом конце линии*/
}

ul {
    display: inline-block;
    /*делаем чтобы блочный элемент вел себя как строка и блок*/
    text-transform: uppercase;
    /*преобразует все строчные буквы текста в прописные*/
    position: relative;
    /*устанавливает нормальную позицию, как это задумано*/
    bottom: 5px;
    /*смещает на 5px вниз от их нормальной позиции */
    margin-bottom: 0;
    /*нижний отступ 0*/
    float: right;
    /*выравнивает по правому краю*/
    margin-right: 45px;
    /*устанавливает правый отступ в 45px*/
}

li {
    display: inline-block;
    /*делаем чтобы блочный элемент вел себя как строка и блок*/
    padding: 30px 12px;
    /*устанавливает внутренний отступ в 30px сверху и снизу и 12px слева и справа*/
}

li>a {
    /*Этот стиль применяется ко всем ссылкам, которые являются непосредственными потомками элементов li*/
    padding: 32px 12px;
    /*устанавливает внутренний отступ в 32px сверху и снизу и 12px слева и справа*/
}

li>a:hover { /*a:hover применяется, когда курсор мыши находится над ссылкой. Это позволяет изменить стиль ссылки при "наведении" на неё, например, изменить цвет текста или добавить подчеркивание.*/
    /*Этот стиль применяется ко всем ссылкам, которые являются непосредственными потомками элементов li*/
    border-bottom: 4px solid rgb(50, 102, 148);
    /*при наведении на них курсора. Он добавляет нижнюю границу шириной 4px и цветом rgb(50, 102, 148).*/

}

li>a:active, /*a:active применяется в момент нажатия на ссылку. Это позволяет визуально отобразить, что ссылка активирована (обычно на короткое время)*/
li>a:focus { /*a:focus применяется, когда ссылка получает фокус, например, при навигации с помощью клавиатуры (когда пользователь переходит от одной ссылки к другой с помощью клавиш Tab и Shift+Tab)*/
    /*Этот стиль применяется к активным или фокусированным ссылкам, которые являются непосредственными потомками элементов li*/
    border-bottom: 4px solid rgb(50, 102, 148);
    /* добавляет нижнюю границу шириной 4px и цветом rgb(50, 102, 148)*/
    color: red;
    /*меняет цвет текста на красный*/
}

.logo {
    /*применяется ко всем элементам с классом ‘logo’*/
    display: inline block;
    /*делаем чтобы блочный элемент вел себя как строка и блок*/
    margin: 28px 230px;
    /*устанавливает отступ в 21px сверху и снизу и 230px слева и справа*/
    width: 45px;
    /*ширина 45px*/
    text-align: center;
    /*выравнивание текста по центру*/
}

.menu {
    /*применяется ко всем элементам с классом "menu"*/
    color: blueviolet;
    /* устанавливает цвет текста на blueviolet*/
    text-decoration: none;
    /*удаляет подчеркивание у ссылок*/
}

.center {
    /*стиль применяется ко всем элементам с классом ‘center’*/
    background: url("https://raw.githubusercontent.com/En1gmalight/Oleg_Plotnitskiy/main/Basics%20of%20web%20technologies/Lesson_6/img_for_lesson_6/title-back.jpg");
    /*устанавливает фоновое изображение*/
    background-size: cover;
    /*указывает браузеру масштабировать фоновое изображение так, чтобы оно полностью покрывало блок, даже если это приведет к тому, что часть изображения не будет видна из-за обрезки. Изображение будет масштабировано с сохранением пропорций, так что его ширина или высота будут равны ширине или высоте блока*/
    margin: 0 auto;
    /*используется для центрирования блочных элементов по горизонтали. Здесь 0 - это верхний и нижний отступы, а auto - это левый и правый отступы*/
    width: 95%;
    /*ширина*/
    color: white;
    /*цвет текста*/
    padding-top: 150px;
    /*отступ сверху 150px*/
    padding-bottom: 100px;
    /*отступ снизу 100px*/
}

.a11 {
    margin: 0 auto;
    /*используется для центрирования блочных элементов по горизонтали. Здесь 0 - это верхний и нижний отступы, а auto - это левый и правый отступы*/
    text-align: center;
    /*выравнивает текст в элементе по центру*/
}

.p_1 {
    width: 50%;
    /*ширина элемента 50%*/
    font-size: 30px;
    /*размер шрифта 30px*/
}

.p_2 {
    text-transform: uppercase;
    /*делает все буквы текста прописными*/
    font-size: 48px;
    /*размер текста 48px*/
    width: 65%;
    /*ширина 65%*/
}

.p_3 {
    font-family: Calibri;
    /*стиль текста применяется ко всем элементам p_3*/
    font-size: 18px;
    /*размер шрифта 18px*/
    font-style: italic;
    /*курсив*/
    width: 45%;
    /*ширина*/
    margin-top: 10px;
    /*внешний верхний отступ */
}

.btn {
    display: block;
    /*делает строчный элемент(ссылку) блочным */
    width: 10%;
    /*ширина*/
    margin: 0 auto;
    /*используется для центрирования блочных элементов по горизонтали. Здесь 0 - это верхний и нижний отступы, а auto - это левый и правый отступы*/
    text-align: center;
    /*выравнивает текст элемента по центру*/
    margin-top: 70px;
    /*добавляет отступ сверху 70px*/
    border: 1px solid white;
    /*устанавливает границу шириной в 1px, сплошная линия (solid), белого цвета*/
    border-radius: 5px;
    /*устанавливает радиус границы 1px*/
    text-transform: uppercase;
    /*делает все буквы в тексте большими */
    text-decoration: none;
    /*выключает все декорации текста, в данном случае подчеркивание ссылки*/
    color: white;
    /*цвет текста белый*/
    padding: 20px 50px;
    /*внутренний верхний и нижний отступ 20px, отступ с лева и справа 50px*/

}