a {
    display: block;
    text-decoration: none;
    width: 250px;
    border: 1px solid blue;
    border-radius: 10px;
    text-align: center;
    background-color: aqua;
}
a:hover {
    border-bottom: 5px solid orange;
}

a:focus {
    color: rgb(42, 165, 63);
}

a:active {
    color: rgb(243, 18, 202);
}

q:lang(fr) {
    quotes: "\201c" "\201D";
}

a::before {
    content: "";
    display: inline-block;
    width: 20px; /* Укажите ширину изображения */
    height: 20px; /* Укажите высоту изображения */
    background-image: url('https://raw.githubusercontent.com/En1gmalight/Oleg_Plotnitskiy/main/Basics%20of%20web%20technologies/Lesson_7/img_for_lesson_7/knives-ninja.png');
    background-size: cover;
}