a {
    color: #f70;
}
.google {
    color: #666;
}
.home_new {
    color: blue;
}
.arrow-symbol::after { /*::after используется чтобы вставить генерируемое содержимое, в данном случае это символ “⇗”*/
    content: "⇗"; /*content используется с псевдоэлементами*/
    text-decoration: none; /*Свойство text-decoration используется для установки или удаления декораций из текста. В данном случае, оно устанавливается в none, что удаляет все декорации, включая подчеркивание, перечеркивание и линию над текстом.*/
    display: inline-block; /*display: inline-block;: Свойство display определяет, как элемент должен быть отображен на веб-странице. Значение inline-block позволяет элементу располагаться в одной строке с другими элементами, но при этом сохраняет свойства блочного элемента. Это значит, что вы можете установить ширину и высоту для этого элемента, как для обычного блочного элемента.*/
}
