@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Jersey+25&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Jersey+25&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Whisper&display=swap');

h1, h2, a{
    color: red;
}
h1{
    margin-bottom: 0; /*внешний отступ в данном случае нижний*/
}
code {
    background-color: black; /*устанавливает цвет фона элемента <code> в черный*/
    color: white; /*устанавливает цвет текста элемента <code> в белый*/
    padding: 15px; /*добавляет отступ вокруг текста внутри элемента <code>. Значение 15px означает, что отступ составляет 15 пикселей со всех сторон текста*/
    display: inline-block; /*Это свойство определяет, как элемент <code> будет отображаться на странице. Значение inline-block означает, что элемент будет отображаться на той же строке, что и соседние элементы, но при этом он будет вести себя как блочный элемент (то есть сможно установить для него ширину и высоту)*/
    width: 35%; /*устанавливает ширину элемента <code>. Значение 35% означает, что ширина элемента будет равна 35% ширины его родительского элемента*/
}
.h1h2{
    font-family: "Chewy", system-ui;
}
p{
    font-family: "Kanit", sans-serif;
}
.cursive{
    font-family: "Whisper", cursive;
    margin-top: 0; /*внешний отступ в данном случае верхний*/
}